@import "./global.scss";
.app{
    height: 100vh;
    display: flex;
    background: url("./sachiro/bg.jpg") center no-repeat ;
    background-size: 100% 100%;
    @include mobile{
        background-size: cover;
       
    }
    //tavidan
    .shesvla{
        height: inherit;
        background-color: rgba(0, 0, 255, 0.452);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        h3{
            margin-bottom: 20px;
            height: 15px;
            font-size: 20px;
            color: yellow;
        }
        .inp{
            margin-bottom: 10px;
            border-radius: 7px;
            padding: 7px;
            border: 1px solid white;
            background-color: rgba(0, 0, 255, 0.205);
            color: white;
            font-size: 15px;
        }
        .inp:focus{
            outline: none;
        }
        button{
            background-color: rgba(0, 0, 255, 0.205);
            border-radius: 7px;
            color: white;
            font-size: 15px;
            padding: 7px;
            width: 100px;
            cursor: pointer;
        }
       
       
    }
    .earnn{
        width: 100%;
        height: 150px;
        color: rgb(168, 127, 21);
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 200px;
        font-size: 30px;
        .ferrr{
            color: crimson;
        }
    }
    .main_left{
        // background: url("./sachiro/bg.jpg") center no-repeat ;
        // background-size: 100% 100%;
        height: inherit;
        width: 75%;
        display: flex;
        flex-direction: column;
        @include mobile{
            width: 70%;
        }
        
        .saxeli_timeri{
            display: flex;
            height: 200px;
            flex-direction: column;
            align-items: center;
            
            h1{
                height: 25%;
                padding: 20px;
                font-size: 30px;
                font-weight: 600;
                color: rgb(99, 99, 241);
                letter-spacing: 3px;
                font-family: 'Roboto', sans-serif;
                @include mobile{
                    font-size: 20px;
                }
            }
            .main_Timer{
               height: 75%;
               width: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               @include mobile{
                align-items: flex-start;
                
            }
               //shemodis timeri
               .timer{
                   display: flex;
                   text-align: center;
                   width: 100px;
                   height: 100px;
                   border: 5px solid white;
                   border-radius: 50%;
                   font-size: 35px;
                   color: white;
                   align-items: center;
                   justify-content: center;
                   @include mobile{
                    font-size: 20px;
                    width: 40px;
                    height: 40px;
                    border: 3px solid white;
                 }
                }
            }
        }
        .kitxva_pasuxi{
            height: calc(100vh - 200px);
            font-family: 'Roboto', sans-serif;
             //shemovida trivia
            .trivia{
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 10px 0 10px;
                .kitxva{
                  height: 50%;
                  text-align: center;
                  
                  @include mobile{
                    overflow-y: scroll;
                }
                  
                  p{
                    // border: 1px solid white;
                    border: none;
                    line-height: 1.8;
                    border-radius: 15px;
                    font-size: 20px;
                    background-color: rgba(0, 0, 255, 0.314);
                    color: white;
                    padding: 0 2px 0 2px;
                    @include mobile{
                        font-size: 15px;
                    }
                    &.main_kitxva{
                        animation: Kitxva 2s ease;
                    }
                    @keyframes Kitxva {
                        0%{background-color: white;}
                        100% {background-color: rgba(0, 0, 255, 0.314);}
                    }
                  }
                }
                .pasuxebi{
                    // background-color: blue;
                    height: 50%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-around;
                    justify-content: space-around;
                    .pasuxi{
                        width: 40%;
                        // margin: 10px;
                        border: 0.5px solid white;
                        padding: 10px;
                        border-radius: 15px;
                        font-size: 20px;
                        color: white;
                        background-color: rgba(0, 0, 255, 0.459);
                        cursor: pointer;
                        transition: all 1s;
                        &.active{
                            background-color: blue;
                        }
                        @include mobile{
                            font-size: 15px;
                            padding: 5px;
                            overflow-x: scroll;
                        }
                        &:hover{
                            background-color: blue;
                            transform: scale(1.1,1.1);
                        }
                        &.correct{
                            animation: correct 2s ease forwards;
                        }
                        @keyframes correct {
                            0%, 22%, 42%{
                                background-color: mediumblue ;
                            }
                            20%,40%, 60%{
                                background-color: rgba(0, 0, 255, 0.459);
                            }
                            62%,100%{
                                background-color: green;
                            }
                        }
                        &.wrong{
                            animation: wrong 2s ease forwards;
                        }
                        @keyframes wrong {
                            0%, 22%, 42%{
                                background-color: mediumblue ;
                            }
                            20%,40%, 60%{
                                background-color: rgba(0, 0, 255, 0.459);
                            }
                            62%,100%{
                                background-color: crimson;
                            }
                        }
                        &.anime{
                            animation: Anime 2s ease ;
                        }

                        @keyframes Anime {
                            0%{background-color: white;}
                            100% {background-color: rgba(0, 0, 255, 0.514);}
                        }
                       
                        
                    }
                  
                }
            }
        }

    }
    .main_right{
        border-radius: 20px;
        display: flex;
        width: 25%;
        height: inherit;
        background-color: rgba(224, 153, 167, 0.297);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include mobile{
            width: 30%;
        }
        .tablo{
            width: 100%;
            font-family: 'Roboto', sans-serif;
            display: flex;
            align-items: center;
            flex-direction: column;
            @include mobile{
               width: 100%;
               align-items: flex-start;
               font-size: 10px;
            }
            .tablo_shida{
                width: 70%;
                display: flex;
                justify-content: space-between;
                border-radius: 10px;
                margin-top: 5px;
                @include mobile{
                    width: 100%;
                    line-height: 15px;
                }
               
                .nomeri{
                    width: 50px;
                    text-align: center;
                    line-height: 30px;
                    @include mobile{
                       
                        line-height: 15px;
                    }
                   
                }
                .mosagebi{
                    text-align:right;
                    line-height: 30px;
                    width: 100%;
                    margin-right: 10px;
                    @include mobile{
                       
                        line-height: 15px;
                    }
                   
                }
                &.earn{
                    background-color: cyan;
                }
            }
        }
        &.anime_right{
            animation: anime_righjt 2s ease;
        }
        @keyframes anime_righjt {
            0%{height: 0%; overflow: hidden;}
            100%{height: 100%; overflow: hidden;}
        }
    }
}